#gameCanvas {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.controls {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
